  <mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Programación Java I - P.O.O</mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/logo-java.png"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Se dictan clases de java, Programación orientada a objetos (Programación I), bajo temario personalizado.</p>
          <p>Clases por horas a la semana, de manera virtual via zoom o meet, horario a coordinar con el estudiante</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

            <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20programación%20Java%20I" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Programación Java II - Jframe</mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/netbeans.png"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Clases personalizadas de java, Programación Gráfica con JFrame, bajo temario específico.</p>
          <p>Creación de pantallas que usan controladores para ingreso de datos y guarda información a base de datos.</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20programación%20Java%20II" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Programación Java III - Web </mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/primefaces.png" height="200px" width="200px"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Se dictan clases de java, Programación orientada a objetos (Programación I), bajo temario personalizado.</p>
          <p>Clases por horas a la semana, de manera virtual via zoom o meet, horario a coordinar con el estudiante</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20programación%20Java%20III" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Base de Datos I - Mysql</mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/mysql_bdd.png"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Clases de bases de datos, creación de tablas, script de insert, actualizacion, eliminación, modelos entidad-relacion.</p>
          <p>Clases por horas a la semana, de manera virtual via zoom o meet, horario a coordinar con el estudiante</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20base%20de%20datos" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Spring Boot</mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/spring-boot.png"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Se dictan clases de spring boot, creación de api rest, consumo desde postman o proyecto java web.</p>
          <p>Clases por horas a la semana, de manera virtual via zoom o meet, horario a coordinar con el estudiante</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20spring%20boot" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Curso Inicial Angular 17</mat-card-title>
          <mat-card-subtitle>Curso/Clases - Virtual </mat-card-subtitle>
          <img mat-card-md-image src="assets/img/angular17.png"  alt="Java">
        </mat-card-header>
        <mat-card-content>
          <p>Creación de CRUD, manejo de componentes, consumo de backend api rest.</p>
          <p>Clases por horas a la semana, de manera virtual via zoom o meet, horario a coordinar con el estudiante</p>
          <p>Mas información contactate con nosotros</p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="warn">
            <a href="https://api.whatsapp.com/send?phone=593985112310&text=Hola%20estoy%20interesado%20en%20el%20curso%20de%20angular17" target="_blank">
              <img src="assets/img/whatsapp.png" alt="whatsapp">
            </a>
          </button>

          <button mat-button color="warn">
            <a href="mailto:danyeledg@gmail.com?subject=Quiero%20mas%20información" target="_blank">
              <img src="assets/img/email.png" alt="email" height="24px" width="24px">
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>  
   
  </mat-grid-list>